@font-face {
    font-family: SVN-Gilroy;
    src: url(font/SVNGilroy-Bold.otf);
}
@font-face {
    font-family: SVN-Gilroy;
    src: url(font/SVNGilroy-Light.otf);
}
*{
    font-family: SVN-Gilroy, sans-serif;
}
main{
    padding: 20px;
    background-color: burlywood;
}
header{
    width: 100%;
    height: 150px;
    background-color: blanchedalmond;
    font-size: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
header>div>p{
    border-bottom: 2px dashed grey;
    border-top: 2px dashed grey;
}
main{
    width:80%;
    margin: auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border:2px solid grey;
    border-top: none;
}
.project{
    position: relative;
    width:200px;
    height:280px;
    border-radius: 50px;
}
.name{
    position: absolute;
    height:80px;
    bottom: 0;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
    font-size: 24px;
    color: white;
}
.name{
    width: 100%;
    background-color:black;
    opacity: 0.8;
    text-align: center;
}
main>div:first-child>a>div{
    border: 2px solid grey;
    background-image: url('../img/cal.jpg');
}
main>div:last-child>a>div{
    border: 2px solid grey;
    background-image: url('../img/json.jpg');
}
main>div>a>div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
main>div>p{
    text-align: center;
    color: rgb(0, 102, 255);
    font-size: larger;
    font-weight: bolder;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
header{
    border: 3px solid rosybrown;
    border-radius: 30px;
}